<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Bienvenido.</h1>
    <p>Comience iniciando sesion con <br>su cuenta.</p>
  </ion-text>

  <div class="c1">
      <ion-button class="signin-button" expand="block" >
        Registrate con un Correo
      </ion-button>
      <div class="gb1">
        <ion-button fill="outline">
           <img src="../../assets/google.png" />
           <ion-label>Conectar con Google</ion-label>
      </ion-button>
    </div>
      <!-- <ion-button>
        <img src="../../assets/google.png" />
        <ion-label>Conectar con Google</ion-label>
   </ion-button> -->

    <!-- <div class="separator">
      <span>o</span>
    </div> -->

      <!-- <span class="line right"></span>
      <span class="line left"></span>
    </div> -->
<!--
    <div class="gb">
      <ion-button>
         <img src="../../assets/google.png" />
         <ion-label>Conectar con Google</ion-label>
    </ion-button>
  </div> -->



    <p class="login">Ya tienes Cuenta? <a>Ingresa ahora</a></p>
  </div>

</ion-content>
